.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background: #f6f9ff 0% 0% no-repeat padding-box;
  opacity: 1;
  &__main--center {
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 25px;
    opacity: 1;
    padding: 25px;
    margin-top: 25px;
    width: 70%;
    height: auto;
  }
}
.container__main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;

  width: 100%;

  &__buttons {
    display: flex;
    position: absolute;
    top: 5px;
    left: 89%;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #64ffda 0% 0% no-repeat padding-box;
      border: none;
      border-radius: 12px;
      opacity: 1;
      color: #4d4f6c;
      opacity: 0.6;
      padding: 5px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 600;
      margin: 0 5px 0 0;
      min-width: 55px;
    }
  }
}

.fc .fc-col-header-cell-cushion {
  /* needs to be same precedence */
  padding-top: 5px; /* an override! */
  padding-bottom: 5px; /* an override! */
  font-weight: normal;
}

.fc .fc-view-harness-active > .fc-view {
  border-radius: 25px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 25px;
}
.fc .fc-scrollgrid-liquid {
  border: none;
}
.fc .fc-view-harness {
  background: none;
  border: none;
}
.fc-theme-standard td,
.fc-theme-standard th {
  border: none;
}
.fc .fc-daygrid-day-frame {
  height: 80%;
  width: 95%;
}

h1,
h2 {
  font-family: "Poppis" sans-serif;
}
.fc .fc-list-empty {
  background: none;
}
.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child),
.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child),
.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  background: none;
  z-index: 10000;
  opacity: 1;
  color: #333333;
  border: none;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 7px #a9a9a95d;
  border-radius: 25px;
  opacity: 1;
  margin: 0 5px;
}

.fc-icon-chevron-left:before,
.fc-icon-chevron-right:before {
  color: rgb(58, 58, 58);
  opacity: 1;
  z-index: 1000;
}

.fc .fc-button .fc-icon {
  color: #5a5a5a;
}
.fc .fc-button {
  color: #5a5a5a;
  background: none;
}
.fc .fc-button-primary:disabled {
  display: none;
}
.fc-today-button .fc-button .fc-button-primary {
  display: none;
}
.fc--button .fc-button .fc-button-primary {
  display: none;
}
.fc .fc-toolbar-title {
  font-size: 1.5rem;
  font-family: "Poppis Bold";
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;

  letter-spacing: 0px;
  color: #4d4f6c;
  opacity: 1;
}
.fc-dayGridMonth-button .fc-button .fc-button-primary .fc-button-active {
  background: none !important;
  z-index: 10000 !important;
  opacity: 0 !important;
  color: #5a5a5a;
  border: none;
}
.fc .fc-daygrid-event-harness {
  cursor: pointer;
}
.fc .fc-daygrid-event-harness:hover {
  opacity: 0.5;
  -webkit-transform: scale(0.9);
}
// RESPONSIVO
@media (max-width: 780px) {
  .container__main {
    width: 90%;
  }
  .fc .fc-toolbar-title {
    font-size: 1.2rem;
    margin: 5px 0;
  }
  .fc-direction-ltr .fc-button-group > .fc-button:not(:last-child),
  .fc-direction-ltr .fc-button-group > .fc-button:not(:first-child),
  .fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    font-size: 0.8rem;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 5px #a9a9a95d;
    border-radius: 10px;
  }
}

@media (max-width: 500px) {
  .fc .fc-col-header-cell-cushion {
    font-size: 0.7rem;
    padding: 15px 0;
  }
  .fc .fc-toolbar {
    flex-direction: column;
  }
  .containerModal {
    left: 5%;
    right: 0%;
  }
  .container__main {
    width: 100%;
  }
  .container__main--center {
    width: 90%;
  }
}
